@font-face {
    font-family: 'Brown Sugar';
    src: url('/fonte/Brown-Sugar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

:root {
    --primary-text-color: rgba(0, 0, 0, 1);
    --secondary-text-color: #FFFFFF;
    --color-start: #FFFFFF;
    --color-mid1: #B9C9DF;
    --color-mid2: #C1D0E2;
    --color-end: #7E9CC3;
    --color-endb: #C7D1DE;
    --white: #FFFFFF;
    --button:#1281ca;
    --quadro: #c9c9c9;
}



body {
    background-image:url("/imgs/quiz10.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100%;
    color: var(--primary-text-color);
    font-size: 16px;
}

main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quadro{
    background-color:rgba(206, 206, 206, 0.5);
    display: flex;
    border-radius: 10px;
    border: 0;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 40rem;
}

input {
    background-color: rgb(95, 95, 95);
    margin: 10px;
    width: 20rem;
    text-align: center;
    font-size: 20px;
}

#baixo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    flex-direction: column;
    align-content: center;
}

a{
    color: var(--white);
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#loginlogo{
    margin: 1rem;
    width: 7rem;
}

#log{
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
    margin: 15px;
}

#log1{
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
    margin: 15px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 170px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
    background-color: var(--button);
    color: white;
    cursor: pointer;
}