@font-face {
    font-family: 'Brown Sugar';
    src: url('/fonte/Brown-Sugar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Regular';
    src: url('/fonte/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
}

:root {
    --primary-text-color: rgba(0, 0, 0, 1);
    --secondary-text-color: #FFFFFF;
    --color-start: #FFFFFF;
    --color-mid1: #B9C9DF;
    --color-mid2: #C1D0E2;
    --color-end: #7E9CC3;
    --color-endb: #C7D1DE;
    --white: #FFFFFF;
    --purple: #9B59B6;
}

body {
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-endb) 100%);
    color: var(--primary-text-color);
    margin: 0;
}

header {
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-mid1) 43%, var(--color-mid2) 57%, var(--color-end) 100%);
    height: 5rem;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

header img {
    max-width: 12.5rem;
    max-height: 9.375rem;
    width: auto;
    height: auto;
    display: flex;
    padding-right: 5rem;
    padding-left: 2rem;
}

nav {
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-end) 100%);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    max-width: 5rem;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-links .link a {
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.nav-links .link a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--secondary-text-color);
}

main h2 {
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 10px;
}

main section h1 {
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 50px;
}

main section p {
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 40px 20px;
}

.explicacao{
    margin-top: 140px;
}

.Criadores {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.esq, .dir {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

section img {
    margin: 0 20px;
}


h2{
    font-family: 'Barlow-Regular';
}

p{
    font-family: 'Barlow-Regular';
}