@font-face {
    font-family: 'Brown Sugar';
    src: url('/fonte/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brown Sugar', sans-serif;
}


:root{
    --primary-text-color: rgba(0, 0, 0, 1);
    --secondary-text-color: #FFFFFF;
    --color-start: #FFFFFF;
    --color-mid1: #B9C9DF;
    --color-mid2: #C1D0E2;
    --color-end: #7E9CC3;
    --color-endb: #C7D1DE
    --white: #FFFFFF;
}

body{
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-endb) 100%);
    color: var(--primary-text-color);
}

body.escuro{
    --primary-text-color: #FFFFFF;
    --secondary-text-color:  rgba(0, 0, 0, 1);
    --color-start:  #96A9C2;
    --color-mid1: #2B3D54;
    --color-mid2: #2B3D54;
    --color-end: #001228;
    --color-endb: #173A59;
}
header{
    background: linear-gradient(to left, var(--color-start) 0%,var(--color-mid1) 43%,var(--color-mid2) 57%,var(--color-end) 100%);
    height: 5rem;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 1.5rem;
    margin-inline: 7.5rem;
}

header img{
    max-width:12.5rem;
    max-height:150px;
    width: auto;
    height: auto;
    display: flex;
    padding-right: 5rem;
}

main {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 160px;
}


.intro {
    justify-content: center;
}

.intro h1 {
    margin-bottom: 10px;
    font-size: 120px;
    text-align: center;
    margin-right: 100px;
}

.intro p {
    margin: 20px;
    font-size: 31.5px;
    text-align: center;
    margin-right: 50px;
}

.clima img {
    max-width: 20rem;
    height: auto;
}
.tema{
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}
.tema img {
    width: 16px;
}
.tema button {
    height: 20px;
    width: 32px;
    background: var(--puple);
    border: 0;
    border-radius: 999px;
    padding: 4px;
    display: flex;
    cursor: pointer;
}
.tema button div {
    background: var(--white);
    width: 12px;
    height: 12px;
    border-radius: 999px;
}

.theme-button {
    background: linear-gradient(135deg, #066AFF, #6790C5);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    padding: 0.5px 10px;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.theme-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.theme-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.theme-button img{
    max-width: 15px;
    max-height:15px;
    width: auto;
    height: auto;
    display: flex;
    padding-right: 1px;

}