* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color: rgba(0, 0, 0, 1);
    --secondary-text-color: #FFFFFF;
    --bg-whit: #FFFFFF;
    --bg-gray: #B9C9DF;
    --bg-light-cyan: #C1D0E2;
    --bg-dark-gray: #7E9CC3;
    --bg-dark-light:C7D1DE;
}
body{
    background: -moz-linear-gradient(left ,  #FFFFFF 0%, #C7D1DE 100%);
    background: -webkit-linear-gradient(left ,  #FFFFFF 0%, #C7D1DE 100%);
    background: -o-linear-gradient(left ,  #FFFFFF 0%, #C7D1DE 100%);
    background: -ms-linear-gradient(left ,  #FFFFFF 0%, #C7D1DE 100%);
    background: linear-gradient(to left ,  #FFFFFF 0, #C7D1DE 100%);
}
body.escuro{}
header{
    background: -moz-linear-gradient(right,  #FFFFFF 0%, #B9C9DF 57%, #C1D0E2 51%, #7E9CC3 100%);
    background: -webkit-linear-gradient(right,  #FFFFFF 0%,#B9C9DF 57%,#C1D0E2 51%, #7E9CC3 100%);
    background: -o-linear-gradient(right,  #FFFFFF 0%,#B9C9DF 57%,#C1D0E2 51%, #7E9CC3 100%);
    background: -ms-linear-gradient(right,  #FFFFFF 0%,#B9C9DF 57%,#C1D0E2 51%, #7E9CC3 100%);
    background: linear-gradient(to right,  #FFFFFF 0%,#B9C9DF 57%,#C1D0E2 51% #7E9CC3 100%);
    /* não precisa disso tudo mais eu sou o GOAT */
    height: 5rem;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}
header.escuro{}
nav{
    display: flex;
    justify-content: center;
}
nav a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    padding: 1.5rem;
    margin-inline: 7.5rem;
}
header img{
    max-width:12.5rem;
    max-height:150px;
    width: auto;
    height: auto;
    display: flex;
    padding-right: 5rem;
}
main{
    margin-top: 5rem;
    align-items: center;
}
.intro h1{
    font-size: 5rem;
}
.intro p{
    font-size: 1.5rem;
}
.clima{
    max-width:20rem;
    max-height: 20rem;
    width: 20rem;
    height: 20rem;
    display: flex;
}