* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

:root {
    --primary-text-color: rgba(0, 0, 0, 1);
    --secondary-text-color: #FFFFFF;
    --color-start: #FFFFFF;
    --color-mid1: #B9C9DF;
    --color-mid2: #C1D0E2;
    --color-end: #7E9CC3;
    --color-endb: #C7D1DE;
    --white: #FFFFFF;
    --green: #68a75b;
    --red: #9c3535;
}

body.escuro {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: rgba(0, 0, 0, 1);
    --color-start: #96A9C2;
    --color-mid1: #2B3D54;
    --color-mid2: #2B3D54;
    --color-end: #001228;
    --color-endb: #173A59;
    --green: #68a75b;
    --red: #9c3535;
}

body {
    background: image();
    color: var(--primary-text-color);
    font-size: 16px;
}

header {
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-mid1) 43%, var(--color-mid2) 57%, var(--color-end) 100%);
    height: 5rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav {
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-end) 100%);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center; /* Alinha verticalmente a logo */
}

.logo img {
    max-width: 5rem;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.link a {
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.link a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--secondary-text-color);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.link a {
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.link a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--secondary-text-color);
}

.pergunta h2{
    margin-top: 7rem;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alternativas{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
}

.alternativas span{
    background-color: #1B2847;
    color: #FFF;
    height: 4rem;
    width: 5rem;
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin-right: 12rem;
    align-items: center;
}
.alternativas div{
    background-color: #D9D9D9;
    display: flex;
    color: rgba(27, 40, 71, 0.80);
    height: 4rem;
    width: 60rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    appearance: none;
}

.alternativas button{
    width: 7rem;
    height: 3rem;
    margin-top: 20rem;
    font-size: 1rem;
    background-color: #090D31;
    color: #FFF;
    transition: background-color 0.3s;
    border-radius: 2rem;
    border: none;
}

.alternativas button:active {
    background-color: var(--color-end);
}

.alternativas p{
    margin-top: 20rem;
    font-size: 2.5rem;
}


.button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #71849D;
    border: 0.5rem solid #71849D;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    margin-left: 80rem;
}
.dialogo {
    background-color: #71849D;
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30rem;
    position: fixed;
    text-align: center;
    border-radius: 10%;
    margin-top: 7rem;
}

.mensagem p {
    font-size: 2rem;
    text-align: center;
}

.resposta p {
    font-size: 3rem;
}

.buttons .cancelar{
    margin-top: 1rem;
    background-color: var(--red);
    width: 5rem;
    height: 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}
.buttons .confirma{
    background-color: var(--green);
    width: 5rem;
    height: 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}


.alternativas input {
    opacity: 0;;
}
.alternativas div:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--secondary-text-color);
}

.alternativas label:has(input:checked) {
    outline: 3px solid var(--);

    & span {
        background: var(--color-end);
        color: var(--white);
    }
}

.alternativas label #correta {
    outline: 3px solid var(--green);

    & span {
        background: var(--green);
        color: var(--white);
    }
}

.alternativas  label #errada {
    outline: 3px solid var(--red);

    & span {
        background: var(--red);
        color: var(--white);
    }
}