@font-face {
    font-family: 'Barlow-Regular';
    src: url('/fonte/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brown Sugar';
    src: url('/fonte/Brown-Sugar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

:root {
    --primary-text-color: rgba(0, 0, 0, 1);
    --secondary-text-color: #FFFFFF;
    --color-start: #FFFFFF;
    --color-mid1: #B9C9DF;
    --color-mid2: #C1D0E2;
    --color-end: #7E9CC3;
    --color-endb: #C7D1DE;
    --white: #FFFFFF;
}

body.escuro {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: rgba(0, 0, 0, 1);
    --color-start: #96A9C2;
    --color-mid1: #2B3D54;
    --color-mid2: #2B3D54;
    --color-end: #001228;
    --color-endb: #173A59;
}

.barra {
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-end) 100%);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.link a {
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
    align-items: center;
    font-family: Barlow;
}

.link a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--secondary-text-color);
}

body {

    background: linear-gradient(to left, var(--color-start) 0%, var(--color-endb) 100%);
    color: black;
    font-size: 16px;
}

header {
    background: linear-gradient(to left, #96A9C2, #001228);
    height: 5rem;
    display: flex;
    position: fixed;
    width: 100%;
}

header img{
    max-width:12rem;
    max-height:80px;
    display: flex;
    padding-left: 1rem;
}


h1 {
    font-size: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    font-family: Brown sugar;
}

p {
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    flex-direction: column;
    font-size: 33px;
    font-family: 'Barlow-Regular';
    justify-content: center;
    text-align: center;
}

nav p {
    display: flex;
    font-size: 40px;
    color: white;
}

section nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}

section nav div {
    text-align: center;
    padding: 30px;
    background-color: #040836;
    border-radius: 50px;
}

section nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.button {
    padding: 2rem 5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #070B27;
    border-radius: 5%;   /* ALTERAR PARA REM DEIXEI NA MALDADE MESMO! :') */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #7495c0;
}