@font-face {
    font-family: 'Brown Sugar';
    src: url('/fonts/BrownSugar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

header{
    background: linear-gradient(to left, #96A9C2, #001228);
    height: 5rem;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

header img{
    max-width:12rem;
    max-height:80px;
    display: flex;
    padding-left: 1rem;
}

body{
    margin-top: 100px;
    background: linear-gradient(to left, #173A59, #71849D);/*fundo da pagina*/
}

#cima {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    gap: 10px; /* Espaçamento entre a imagem e o título */
    justify-content:space-around 200px;
    margin-bottom: 35px;
}

#cima img {
    margin-left: 150px;
    width: 170px; /* Largura da imagem */
    height: 170px; /* Altura da imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorção */
}

#cima h1 {
    font-size: 75px; /* Ajusta o tamanho da fonte do título */
    font-family: 'Brown Sugar';
    margin-left: 200px;
    color: white;
}


#baixo {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#baixo p {
    width: 200px;
    color: white;
}

#baixo img {
    width: 400px;
    height: auto;

}
