* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: barlow;
    line-height: 1.5;
    background-color: #f4f4f4;
}

header.cabeçalho {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.cabeçalho a {
    color: #fff;
    text-decoration: none;
}

header.cabeçalho img {
    height: 80px;
}

