@font-face {
    font-family: 'Brown Sugar';
    src: url('/fonte/Brown-Sugar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow-Regular';
    src: url('/fonte/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-text-color: rgba(0, 0, 0, 1);
    --secondary-text-color: #FFFFFF;
    --color-start: #FFFFFF;
    --color-mid1: #B9C9DF;
    --color-mid2: #C1D0E2;
    --color-end: #7E9CC3;
    --color-endb: #C7D1DE;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-endb) 100%);
    color: var(--primary-text-color);
}

nav {
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-end) 100%);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*nav {
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-end) 100%);
    padding: 0.5rem 1rem; /* Diminuir o padding para reduzir a altura da barra 
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.logo img {
    max-width: 5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.link a {
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.link a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--secondary-text-color);
}

header{
    background: linear-gradient(to left, #96A9C2, #001228);
    height: rem;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

header img{
    max-width:12rem;
    max-height:80px;
    display: flex;
    padding-left: 1rem;
}

#tudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
    width: 100%;
}

#esquerda{
    text-align: center;
    width: 45%;
}

#esquerda h1{
    font-size: 80px;
    font-family: 'Brown Sugar';
}

#esquerda p{
    margin-top: 35px;
    font-size: 25px;
    font-family: 'Barlow-Regular';
}

/*é guigui*/

#direita img{
    width: 450px;
    height: auto;
}

body,html{
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
    width: 100%;
}