* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: linear-gradient(to left, #96A9C2, #001228);
    height: 5rem;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

header img{
    max-width:12rem;
    max-height:80px;
    display: flex;
    padding-left: 1rem;
}

body {
    margin-top: 100px;
    background: linear-gradient(to left, #173A59, #71849D);
}

h1 {
    display: flex;
    margin-top: 100px;
}

.ZP {
    display: flex;
    padding: 10rem;
    align-items: center;
}