@font-face {
    font-family: 'Brown Sugar';
    src: url('/fonte/Brown-Sugar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Regular';
    src: url('/fonte/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

:root {
    --primary-text-color: rgba(0, 0, 0, 1);
    --secondary-text-color: #FFFFFF;
    --color-start: #FFFFFF;
    --color-mid1: #B9C9DF;
    --color-mid2: #C1D0E2;
    --color-end: #7E9CC3;
    --color-endb: #C7D1DE;
    --white: #FFFFFF;
    --purple: #9B59B6;
}

nav {
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-end) 100%);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 5rem;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.link a {
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.link a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--secondary-text-color);
}

header {
    background: linear-gradient(to left, var(--color-start) 0%, var(--color-mid1) 43%, var(--color-mid2) 57%, var(--color-end) 100%);
    height: 5rem;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

header img {
    max-width: 12.5rem;
    max-height: 150px;
    width: auto;
    height: auto;
    display: flex;
    padding-right: 5rem;
    padding-left: 2rem;
}

/*
header{
    background: linear-gradient(to left, #96A9C2, #001228);
    height: 5rem;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header img{
    max-width:12rem;
    max-height:80px;
    display: flex;
    padding-left: 1rem;
}*/

body {
    background: linear-gradient(to bottom,
    #3C4D5C 2%,   /* Cor vermelha no topo (0%) */
    #70859D 41%,  /* Cor verde no meio (50%) */
    #516845 64%,   /* Cor vermelha no topo (0%) */
    #3F2B2B 90%  /* Cor azul na base (100%) */);

}

/*background: linear-gradient(to left, #173A59, #71849D);*/

.topicos {
    color: white;
    margin-top: 12.5rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.textos{
    padding-top: 1.563rem;
    justify-content: center;
}

.textos h1{
    font-family: 'Brown Sugar';
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

.textos p{
    font-size: 2.188rem;
    max-width: 28.125rem;
}

.imagens img {
    height: auto;
    width: 31.25rem;
}

#nuvem {
    margin-bottom: -9.375rem;
    transform: translateX(-50%);
    z-index: 500;
}