/*
colocar no css:


@font-face {
    font-family: 'Brown Sugar';
    src: url('/fonts/BrownSugar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

usando a fonte
font-family: 'Brown Sugar', sans-serif;


@font-face {
    font-family: 'Barlow-Regular';
    src: url('/fonte/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

usando a fonte
font-family: 'Barlow-Regular';

*/